.img_top{
    background-image: url("../img/jumbo-bg.png");
    min-height: 600px;
    background-position: top center;
    background-size: cover;
}

.select_title_one {
    border: 2px solid blue;
}

.select-title {
    height: 125px;
    border-radius: 25px;
}

.check {
    height: 15px;
}

.ms_nav_hover:hover {
    color: blue !important;

}

.ms_playstation_height {
    height: 900px;
}

.ms_height_hardware {
    height: 200px;
}

.ms_background_it_takes_two {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    min-height: 950px;
    background-position: top center;
    background-size: cover;
}

.ms_box_new {
    height: 200px;
    border-radius: 25px;
}



.ms_transform {

    transition: 1s;
}

.ms_transform:hover {
    transform: translate( 0, -15px );
}

.ms_opacity {
    cursor: pointer;
    opacity: 0.5;
    transition: 1s;
}

.ms_opacity:hover {
    opacity: 1;
}

footer {
    background-color: blue;
}

.ms_sociali_height {
    height: 200px;
}

.ms_pslogo_height {
    height: 50px;
}

.ms_effect_shadow:hover {
    box-shadow: 0 0 5px 3px rgba(158, 142, 142, 0.67);
    cursor: pointer;
}

.ms_button_hover {
    border-radius: 50px;
}

.ms_button_hover:hover {
    border: 1px red solid;

}